body{
    background-color: rgb(13, 11, 116);
    color: #fff;
}

.couple-wrap{
    position: relative;
    margin: 5rem 15%;
    box-shadow:  -1rem -2rem 2rem 0 #000;
    padding: 1rem;
    border-radius: 1rem;
}

.couple-wrap .dialog-box{
    border-radius: 0.8rem;
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    padding: 3rem 5rem;
    transform: translateX(-50%) translateY(-50%);
    background-color: rgb(243, 170, 13);
    box-shadow: 0rem 0rem 2rem 1rem #2b2b2b;
}

.couple-wrap #coupletIndex{
    font-size: 0.12rem !important;
    display: flex;  
    background-color: rgb(248, 125, 9); 
}
.couple-wrap #coupletIndex .couplet-index-item{
    cursor: pointer;
    padding: 0.1rem;
}

.couple-wrap #displayCouplet{
    margin: 1.5rem 0;
}
.couple-wrap #displayCouplet .title-edit-delete{
   display: flex;   
}
.couple-wrap #displayCouplet .title-edit-delete .display-couplet-title{
    margin-right: 0.8rem;
}
